/* Clearing CSS */
*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

.row{
    margin: 0;
    padding: 0;
}
.col{
    margin: 0;
    padding: 0;
}

.parallax{
    background-color: teal;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 75vh;
}

.header{
    /* background-position: center; */
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 0 2000px rgba(1, 1, 1, 0.5);
}

.mask{
    box-shadow: inset 0 0 0 2000px rgba(1, 1, 1, 0.5);
}

.container-mask{
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.960);
}

.sectionBanner{
    background-color:#8cc63f;
    width: 100%;
    /* height: 75vh; */
}

.section{
    background-color: lightgrey;
    width: 100%;
    /* height: 100%; */
}

h1{
    font-family: 'Courgette', cursive;
    font-size: 4em;
    letter-spacing: 10px;
}
h2{
    font-family: 'Courgette', cursive;
    font-size: 2em;
    letter-spacing: 5px;
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    h1{
        font-family: 'Courgette', cursive;
        font-size: 3em;
        letter-spacing: 5px;
    }
    h2{
        font-family: 'Courgette', cursive;
        font-size: 1.5em;
    }
  }

.footer a:link{
    text-decoration: none;
}
.social-box{
    width: 35px;
    height: 35px;
    border-radius: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.loader{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #262626;
}

.loader-active{
    display: flex;
}

.loader::after{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    animation: loader 0.5s infinite linear;
    /* animation-direction: alternate; */
}

@keyframes loader{
    25%{
        transform: scale(1.5);
    }
    50%{
        opacity: 50;
        transform: scale(2);
    }
    75%{
        opacity: 0;
        transform: scale(2.5);
    }
    100%{
        opacity: 0;
        transform: scale(3);
    }
}


.reveal{
    position: relative;
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    opacity: 1;
}

.reveal.rev-bottom{
    transform: translateY(150px);
}
.reveal.rev-left{
    transform: translateX(-150px);
}
.reveal.rev-right{
    transform: translateX(150px);
}


.reveal.active{
    transform: translateY(0px);
}
